{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Segmentation Viewer</title>



    {% block head %}
    {% endblock %}
            <!-- Custom styles for this template -->
    <!--<link href="{% static "asset/navbar.css" %}" rel="stylesheet">-->
    <!-- Library Loading -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Video.js -->
    <link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/7.1.0/video.js"></script>

    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- D3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    {% comment %}
    <!--slider-->
    <script src="{% static 'bootstrap-slider-9.7.2/dist/bootstrap-slider.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-slider-9.7.2/dist/css/bootstrap-slider.min.css' %}">

</head>

<body>

    {% endcomment %}

    {% block nav %}
    {% endblock %}

    <!--<div class="container">-->
    {% block content %}
    {% endblock %}
    <!--</div>-->

    {% block jquery %}
    {% endblock %}
</body>


</html>